.anchor-link {
  opacity: 0;
  margin-left: 0.5rem;
  font-size: 0.8em;
  transition: opacity 0.15s ease-in-out;
  user-select: none;
}

.page-content {
  h1, h2, h3, h4, h5, h6 {
    .anchor-link {
      text-decoration: none;
      color: $brand-color-dimmed;
    }

    &:hover .anchor-link {
      opacity: 1;
    }
  }
}
